.add{
    width: 400px;
    height: 200px;
    border: 2px solid tomato;
    border-radius: 20px;
    position: relative;
    left: 560px;
    top: 150px;
    padding: 0;
}
.new{
    color: tomato;
    font-size: 28px;
    position: relative;
    left: 100px;
}
.inp{
    width: 250px;
    height: 30px;
    border: 2px solid tomato;
    border-radius: 10px;
    position: relative;
    left: 75px;
}
.but{
    width: 100px;
    height: 30px;
    color: white;
    position: relative;
    left: 150px;
    border: 2px solid tomato;
    background-color: tomato;
    border-radius: 20px;
}
.material-icons{
    position: relative;
    left: 250px;
    top: 40px;
    background-color: tomato;
    border-radius: 50%;
}
a{
    text-decoration: none;

}