.add_new{
    width: 35vw;
    height: 200px;
    border: 2px solid tomato;
    border-radius: 10px;
    position: absolute;
    top: 250px;
    left: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new{
    color: tomato;
    font-size: 28px;
}
.inp{
    width: 90%;
    height: 30px;
    border: 2px solid tomato;
    border-radius: 10px;
}
.but{
    width: 100px;
    height: 30px;
    color: white;
    border: 2px solid tomato;
    background-color: tomato;
    border-radius: 20px;
}