.trip{
   text-align: center;
   font-size: 48px;
   font-weight: bolder;
   display: flex;
}
.line1{
    width: 200px;
    height: 0.1px;
    position: relative;
    left: 200px;
}
.line2{
    width: 200px;
    height: 0.1px;
    position: relative;
    right: 200px;
}
a{
    text-decoration: none;
    margin: 5px;
    font-size: 40px;
    position: relative;
    left: 45vw;
    margin-top: 30px
}
.rad{
    width: 20px;
    height: 20px;
    padding: 15px;
    color: white;
    background-color: tomato;
    border-radius: 50%;
}
.paris{
    width: 400px;
    height: 400px;
    align-items: center;
    border: 2px solid tomato;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    position: relative;
    left: 570px;
}
.tri{
    color: tomato;
    text-align: center;
    font-size: 32px;
    position: relative;
    left: 110px;
}
.com{
    text-align: center;
    text-decoration: line-through;
    color: tomato;
    font-size: 32px;
    position: relative;
    left: 90px;
}
.pen{
    text-align: center;
    font-size: 32px;
    position: relative;
    left: 90px;
}
input{
    position: relative;
    left: 90px;   
}
.add{
    position: absolute;
    left: 900px;
    top: 500px;
    background-color: tomato;
    border-radius: 50%;
}